<div class="contenedor_principal" align="center">
    <div>
        <div class="conteiner">
            <div class="contenedor_titulo">
                <h1>Detalles del Servicio</h1>
            </div>
            <div class="conteiner_table">
                <table class="table table-dark table-sm">
                    <tbody>
                        <tr class="titulo">
                            <td>
                                <h5>Nombre</h5>
                            </td>
                            <td>
                                <h5>Descripcion</h5>
                            </td>
                            <td>
                                <h5>URL</h5>
                            </td>
                        </tr>
                        <tr>
                            <td>{{servicio.nombre}}</td>
                            <td>{{servicio.descripcion}}</td>
                            <td>{{servicio.url}}</td>
                        </tr>
                        <tr class="titulo">
                            <td>
                                <h5>WhatsApp</h5>
                            </td>
                            <td>
                                <h5>Instagram</h5>
                            </td>
                            <td>
                                <h5>Twiter</h5>
                            </td>
                        </tr>
                        <tr>
                            <td>{{servicio.whatsapp}}</td>
                            <td>{{servicio.instagram}}</td>
                            <td>{{servicio.twiter}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="boton_atras d-grid gap-2 col-3 mx-auto">
            <button class="btn btn-primary active boton" data-bs-toggle="button" autocomplete="off" aria-pressed="true"
                routerLink="/misServicios">Salir</button>
        </div>
    </div>
</div>