<div id="contenedor-formu">
    <header align="center">
        <h1>Registrarse</h1>
    </header>
    <div class="cuerpo" align="center">
        <div class="cuerpo_formu">
            <form #registroEventoForm="ngForm" (ngSubmit)="onSubmit(registroEventoForm)" class="formu" id="formu"
                align="left">
                <div class="form-group">
                    <label for="nombre">Nombre:</label>
                    <input type="text" class="form-control"  [(ngModel)]="usuario.nombre" id="usuario.nombre" name="usuario.nombre" #usuario.nombre>
                </div>
                <div class="form-group">
                    <label for="apellido">Apellido:</label>
                    <input type="text" class="form-control"  [(ngModel)]="usuario.apellido" id="usuario.apellido" name="usuario.apellido" #usuario.apellido>
                </div>
                <div class="form-group">
                    <label for="nombreUsuario">Nombre Usuario:</label>
                    <input type="text" class="form-control"  [(ngModel)]="usuario.nombreUsuario" id="usuario.nombreUsuario" name="usuario.nombreUsuario" #usuario.nombreUsuario>
                </div>
                <div class="form-group">
                    <label for="fechaNac">Fecha Nacimiento:</label>
                    <input type="date" class="form-control"  [(ngModel)]="usuario.fechaNac" id="usuario.fechaNac" name="usuario.fechaNac" #usuario.fechaNac>
                </div>
                <div class="form-group">
                    <label for="direccion">Dirección:</label>
                    <input type="text" class="form-control"  [(ngModel)]="usuario.direccion" id="usuario.direccion" name="usuario.direccion" #usuario.direccion>
                </div>
                
                <div class="form-group">
                    <label for="password">Contraseña:</label>
                    <input type="text" class="form-control"  [(ngModel)]="usuario.password" id="usuario.password" name="usuario.password" #usuario.password>
                </div>
                <input type="submit" class="Breg" id="Breg" value="Actualizar" [disabled]="!registroEventoForm.form.valid">
            </form>
        </div>
    </div>
</div>
<div class="contenedor_mensaje">
    <h3>{{mensaje}}</h3>
</div>
<img *ngIf="loading" class="pl-2"
    src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
<div *ngIf="error" class="alert alert-danger">{{error}}</div>

<div id="atras">
    <button><a routerLink="/">Salir</a></button>
</div>
