.titulo h1{
    font-size: 34;
    font-family:Georgia, 'Times New Roman', Times, serif;
    display: inline;
}        

#header {
    margin:auto;
    width:100%;
    font-family:Arial, Helvetica, sans-serif;
}

ul, ol {
    list-style:none;
    display: inline;
}

.nav > li {
    float:left;
}

.nav li a {
    background-color:rgb(57, 59, 87);
    color:#fff;
    text-decoration:none;
    padding:5px 10px;
    display:block;
    width: 140px;
    text-align: center;
}

.nav li a:hover {
    background-color:#bfbff0;
}

.nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

.nav li:hover > ul {
    display:block;
}

.nav li ul li {
    position:relative;
}

.boton_buscar{
    border: 1;
    width: 100px;
    height: 30px;
}
.datos_servicio h3{
    display: inline;    
}
.datos_servicio{
    width: 100%;
    height: 100%;
}
.boton_header button, .boton_buscar, .contenedor_button button{
    background-color: rgb(57, 59, 87); /* Green */
    color: rgb(239, 241, 245);
  }

.contenedor_button{
    align-content: flex-end;
    margin-top: 10px;
}

p{
    display: inline;
}

.boton_header{
    margin-top: 5px;
}

.contenedor{
    margin-left: 20px;
    margin-right: 20px;
}
.b1, .b2, .b3{
    margin-right: 5px;
}

.b1 > a, .b2 > a{
    text-decoration: none;
    color: beige;
}