.contenedor_tabla{
    width: 1200px;
}
.header_tabla{
    text-align: center;
}

.contenedor_titulo{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.botones{
    text-align: center;
}
.boton_atras > button > a, .botones > button > a{
    text-decoration: none;
    color: antiquewhite;
}

h4{
    margin-left: 0%;
    margin-right: 0%;
}