.cuerpo_formu{
    width: 700px;
}

header{
    margin-top: 25px;
    margin-bottom: 15px;
}

.boton > a{
    text-decoration: none;
    color: antiquewhite;
}
.boton_atras{
    margin-bottom: 25px;
    margin-top: 15px;
}