<div class="contenedor_principal">
    <div class="contenedor">
        <header class="header">
            <div align="right" class="boton_header">
                <button class="b1" *ngIf="currentUsuario; else elseBlock"><a>Editar Perfil</a></button>
                <ng-template #elseBlock><button class="b2"><a routerLink="/login">Iniciar Sesion</a></button>
                </ng-template>


                <button class="b3" (click)="logout()" *ngIf="currentUsuario"><a>Cerrar
                        Sesion</a></button>
            </div>
            <hr>
            <div class="titulo_bienvenida" align="center" *ngIf="currentUsuario">
                <h1>Bienvenido {{username}}</h1>
            </div>
        </header>
        <div class="contenedor_nav">
            <ul class="nav" *ngIf="currentUsuario">
                <li>
                    <a href="">CargarServicios</a>
                </li>
                <li>
                    <a href="/misServicios">Mis Servicios</a>
                </li>
            </ul>
        </div>
        <div class="contenedor_servicios">
            <div class="contenedor_titulo_serv">
                <h1>Servicios </h1>
            </div>
            <div class="contenedor__lista_servicios" align=center *ngFor="let servicio of servicios">
                <div class="contenedor_serv">
                    <div class="contenedor_texto">
                        <div class="datos_servicio" align="left">
                            <div class="nombre_service">
                                <h3>Nombre de Servicio: {{servicio.nombre}} </h3>
                            </div>
                            <p>Tipo de servicio: Catering</p><br>
                            <p>Descripcion: {{servicio.descripcion}} </p><br>
                            <h4>Redes:</h4>
                            <p class="redes"> -Twiter: <a href="">{{servicio.twiter}}</a>, WhatsApp: <a
                                    href="">{{servicio.whatsapp}}</a>,
                                Instagram: <a href="">{{servicio.instagram}}</a></p>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
            <img *ngIf="loading" class="pl-2"
                src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            <div *ngIf="error" class="alert alert-danger">{{error}}</div>
        </div>
    </div>

</div>